#form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#search-bar {
  position: relative;
  width: 200px;
  height: 30px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 0 30px 0 5px;
  font-size: 1rem;
}

#search-button {
  position: absolute;
  right: 30px;
  width: 30px;
  border: none;
  background: none;
}

#search-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

