<div id="game-window-container">
  
  <ng-container *ngIf="(games$ | async) as games">
    <ng-container *ngIf="games.length === 0">
      <div id="no-games-message">Search for games</div>
      <img id="pointer-arrow" src="assets/pointer-arrow.svg" alt="pointer">
    </ng-container>
    <ng-container *ngIf="games.length > 0">
      <img
        class="arrow-button {{currentIndex === 0 ? 'disabled' : ''}}"
        [src]="currentIndex === 0 ? 'assets/arrow-disabled.svg' : 'assets/arrow.svg'"
        alt="Arrow Icon"
        (click)="decrementIndex()" />
      <app-game-window [game]="games[currentIndex]"></app-game-window>
      <h3 id="result-number">Showing result {{currentIndex + 1}} / {{(games$ | async)?.length}}</h3>
      <img 
        class="arrow-button {{currentIndex === games.length - 1 ? 'disabled' : ''}}"
        [src]="currentIndex === games.length - 1 ? 'assets/arrow-disabled.svg' : 'assets/arrow.svg'"
        alt="Arrow Icon"
        (click)="incrementIndex()" />
    </ng-container>
  </ng-container>

</div>
