<div id="game-window-container">
  
  <ng-container *ngIf="(games$ | async) as games">
    <ng-container *ngIf="games.length === 0">
      <div id="no-games-message">Search for games</div>
      <img id="pointer-arrow" src="assets/pointer-arrow.svg" alt="pointer">
    </ng-container>
    <ng-container *ngIf="games.length > 0">
      <img class="arrow-button" src="assets/arrow.svg" alt="Arrow Icon" (click)="decrementIndex()" />
      <app-game-window [game]="games[currentIndex]"></app-game-window>
      <img class="arrow-button" src="assets/arrow.svg" alt="Arrow Icon" (click)="incrementIndex()" />
    </ng-container>
  </ng-container>

</div>
